body {
    display: grid;
    place-items: center;
}
#container {
    width: 400px;
    height: 400px;
}
.box {
    background-color: #F5F5F5;
    display: inline-block;
    box-sizing: border-box;
}

.box:hover {
    background-color: #A9A9A9;
}
.row {
    margin: 0px;
    padding: 0px;
}
.clicked {
    background-color: black;
}